<div class="container">
    <nav>
        <ul>
            <img src="../assets/img/MIDALL NOVOb.png" class="imagem">
            <li><a href="Clipping_emails.html">Clipping de Email</a></li>
            <li><a href="Geren_Assoc.html">Gerenciar Associados</a></li>
            <li><a href="cadastros.html">Cadastrar Associados</a></li>
            <img src="../assets/img/MIDALL NOVOb.png" class="imagem1">
        </ul>
    </nav>

    <section class="clipping_emails">
        <div class="coluna">
            <h1 class="gradient">Clipping de Email</h1>
            <div class="borda">
                <form action="/sistema/alt_email" method="post">
                    <label for="{{id}}"></label>
                    {{!-- <div class="imag">
                        <img src="../assets/img/{{link_foto}}">
                    </div> --}}
                    <div class="dados">

                        <input type="checkbox" id="{{id}}" value="{{id}}">
                        <div class="nome_assoc">
                            <p>{{nome}} teste</p>
                        </div>
                        <div class="desc">
                            <p>{{desc}} teste</p>
                        </div>

                    </div>
                    </label>
            </div>
            <div class="align_buts">
                <button type="submit">Alterar</button>
            </div>
            </form>
        </div>
    </section>
</div>