<div class="container">
    <nav>
        <ul>
            <img src="../assets/img/MIDALL NOVOb.png" class="imagem">
            <li><a href="/sistema/clipping">Clipping de Email</a></li>
            <li><a href="/sistema/gerenc_assoc">Gerenciar Associados</a></li>
            <li><a href="/sistema/gerenc_assoc">Cadastrar Associados</a></li>
            <img src="../assets/img/MIDALL NOVOb.png" class="imagem1">
        </ul>
    </nav>
    <section class="Gerenciar_Associados">
        <div class="coluna">
            <h1 class="gradient">Gerenciar Associados</h1>
            <div class="borda">
                <form action="/sistema/gerenc_associ" method="post">
                    <label for="{{id}}"></label>
                    <div class="imag">
                        <img src="../assets/img/{{link_foto}}">
                    </div>
                    <div class="dados">

                        <input type="checkbox" id="{{id}}" value="{{id}}">
                        <div class="nome_assoc">
                            <p>{{nome}} teste</p>
                        </div>
                        <div class="desc">
                            <p>{{desc}} teste</p>
                        </div>

                    </div>
                    </label>
            </div>
            <div class="align_buts">
                <button type="submit">Alterar</button>
            </div>
            </form>
    </section>
</div>